{% extends 'BoShurikSurveyBundle::base.html.twig' %}

{% block content %}
<h1>Survey {% if delete_form %}edit{% else %}new{% endif %}</h1>

<form action="{% if delete_form %}{{ path('survey_update', { 'id': entity.id }) }}{% else %}{{ path('survey_create') }}{% endif %}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Save</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('survey') }}">
            Back to the list
        </a>
    </li>
    {% if delete_form %}
    <li>
        <form action="{{ path('survey_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endif %}
</ul>
{% endblock %}